.bg-white {
	background-color: #FFF;
}
.bg-green {
	background-color: #4CAF50;
}

.md-green {
	color: #4CAF50;
}

.md-grey {
	color: #757575;
}

.status-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	text-align: center;
	background-color: #4CAF50;
	min-height: 0;
}
.status-card-wide > .mdl-card__title {
	margin: 0 auto;
	color: #FFF;
	height: 176px;
}

.demo-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	min-height: 0;
}
.demo-card-wide > .mdl-card__title {
	color: #FFF;
	height: 176px;
}

.text-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	min-height: 0;
}

.site-loader {
	transition: all .4s;
}

.load-completed {
	opacity: 0;
}

.load-complete {
	position: fixed;
	overflow: hidden;
	background: #f1f1f1;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999999;
}

.load-complete .logo {
	color: #000000;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.load-complete .load-position h6 {
	text-align: center;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0px;
}

.load-complete .load-position {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 999;
	right: 0;
	margin-top: -100px;
}

.load-complete .loading {
	position: absolute;
	width: 100%;
	height: 1px;
	margin: 20px auto;
	left: 0;
	right: 0;
}

.load-complete .loading-line {
	position: absolute;
	background: rgba(0,0,0,0.1);
	width: 100%;
	height: 2px;
}

.load-complete .loading-break {
	position: absolute;
	background: #333;
	width: 48px;
	height: 2px;
	border-radius: 1px;
}

.load-complete .loading-dot-1 {
	-webkit-animation: loading 2s infinite;
	-moz-animation: loading 2s infinite;
	-ms-animation: loading 2s infinite;
	-o-animation: loading 2s infinite;
	animation: loading 2s infinite;
}

.load-complete .loading-dot-2 {
	-webkit-animation: loading 2s 0.5s infinite;
	-moz-animation: loading 2s 0.5s infinite;
	-ms-animation: loading 2s 0.5s infinite;
	-o-animation: loading 2s 0.5s infinite;
	animation: loading 2s 0.5s infinite;
}

.load-complete .loading-dot-3 {
	-webkit-animation: loading 2s 1s infinite;
	-moz-animation: loading 2s 1s infinite;
	-ms-animation: loading 2s 1s infinite;
	-o-animation: loading 2s 1s infinite;
	animation: loading 2s 1s infinite;
}

@keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-moz-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-webkit-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-ms-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-o-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}
