.bg-white {
	background-color: #FFF;
}
.bg-green {
	background-color: #4CAF50;
}

.md-green {
	color: #4CAF50;
}

.md-grey {
	color: #757575;
}

.md-blue {
	color: rgb(33,150,243);
}

.status-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	text-align: center;
	background-color: #4CAF50;
	min-height: 0;
}
.status-card-wide > .mdl-card__title {
	margin: 0 auto;
	color: #FFF;
	height: 176px;
}

.demo-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	min-height: 0;
}
.demo-card-wide > .mdl-card__title {
	color: #FFF;
	height: 176px;
}

.text-card-wide.mdl-card {
	width: 90%;
	max-width: 512px;
	min-height: 0;
}

::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece{
	background-color: #f1f1f1;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical{
	height: 5px;
	background-color: rgb(33,150,243);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal{
	width: 5px;
	background-color: #f1f1f1;
	-webkit-border-radius: 6px;
}

.loader {
	position: fixed;
	overflow: hidden;
	background-color: rgb(33,150,243);
	width: 100%;
	height: 1px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.load-complete {
	position: fixed;
	overflow: hidden;
	background: #f1f1f1;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999999;
}

.load-complete .load-position h6 {
	text-align: center;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0px;
}

.load-complete .load-position {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 999;
	right: 0;
	margin-top: -100px;
}

.load-complete .loading {
	position: absolute;
	width: 100%;
	height: 1px;
	margin: 20px auto;
	left: 0;
	right: 0;
}

.load-complete .loading-line {
	width: 100%;
}

@keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-moz-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-webkit-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-ms-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}

@-o-keyframes loading {
	from {
		left: 0;
	}

	to {
		left: 100%;
	}
}
